body{
	background: url('pics/sun.svgz') no-repeat;
	background-size: 700px;
	background-color: #edea91;
	height: 100%;
	} 

a:hover{
	background-color: #526ea8;
}

.chore-main{
	background-color: rgba(207,240,255,0.9);
}
