body{
	background: url('pics/moon.svg') no-repeat;
	background-size: 700px;
	background-color: #333333;
	height: 100%;
	} 

a:visited{
	color: #ffffff;
}
a:link{
	color: #ffffff;
	
}
a:hover{
	color: #000000;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #777777; 

}
a:active{
	color: #000000;
}

h1{
	color: white;
}
.chore-main{
	background-color: rgba(82,110,168,0.85);
}
