@import url(http://fonts.googleapis.com/css?family=News+Cycle|Lora|Julius+Sans+One);

p{
	font-family: 'News Cycle', sans-serif;
	color: #202020;
	text-align: center;

}

h1{
	font-family: 'Julius Sans One','Lora', sans-serif;
	color: #006699;
	text-align: left;
	text-transform: uppercase;
	}

body{
	background-color: white;
	background-repeat: repeat;
	height: 100%;
	} 
/* Styling for Chores */
ol li{
	font-size: 16px;
	font-family: 'Lora', sans-serif;
	color: #000;
	text-align: left;
}

.button-wrapper{
	height: 100px;
	text-align: center;
	background-color: 'ffffff';
}
.button-wrapper li{
	display: inline-block;
	margin: 1em;
	padding: 0em 2em 0em 2em;

}
.button-wrapper a{
	display: block;
	text-decoration: none;
}

.chore-group{
	display: none;
}
		#morning{
			display: block;
		}
		#afternoon{
			display: none;
		}
		#nighttime{
			display: none;
		} 

.chore-main{
	position: absolute;
	/*top: 280px; */
	top: 75px;
	left: 18%;
	background-color: rgba(171, 221, 164, 1.0);
	box-shadow: 10px 10px 5px #777777;
	width: 65%;
	height: 600px;
	margin: 0px auto;
	border: 2px solid grey;
	border-radius: 1em;
	z-index: 1;
	}


a:visited{
	color: #000000;
}
a:link{
	color: #ffffff;
	
}
a:hover{
	color: #ffffff;
	background-color: #000000;
	box-shadow: 2px 2px 5px #777777; 

}
a:active{
	color: #000000;
}