@import url(http://fonts.googleapis.com/css?family=News+Cycle|Lora|Julius+Sans+One);

body{
	background-color: gray;
	background-repeat: repeat;

	} 

p{
	font-family: 'News Cycle', sans-serif;
	color: #202020;
	text-align: center;

}

h1{
	font-family: 'Julius Sans One','Lora', sans-serif;
	color: #006699;
	text-align: center;
	text-transform: uppercase;
	}

h3{
	font-family: 'Lora', sans-serif;
	color: #000;
	text-align: left;
	
}

.fa-li {

    margin: 10px;
}
/* Styling for Chores */
.chore-main{
	top: 75px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	width: 600px;
	background-color: rgba(171, 221, 164, 1.0);
	box-shadow: 10px 10px 5px #777777;
	z-index: 1;
}
#chore{
	cursor: pointer;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	font-size: 16px;
	border: 5px solid black; 
	border-radius: 5px;
	margin: 5px;
	vertical-align: middle; 
}
.chore-group{
	display: none;
}
#morning{
	display: block;
}


.button-wrapper{
	height: 100px;
	text-align: center;
	background-color: 'ffffff';
}
.button-wrapper li{
	display: inline-block;
	margin: 1em;
	padding: 0em 2em 0em 2em;

}
.button-wrapper a{
	display: block;
	text-decoration: none;
}






a:visited{
	color: #000000;
}
a:link{
	color: #ffffff;
}
a:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #000000;
	box-shadow: 2px 2px 5px #777777; 
}
a:active{
	color: #000000;
}

#chore:hover{
	background-color: green;
	color:white;
}
.highlight {
    background-color: green;
    color: white;
    font-weight: bold;
}
.highlight #chore{
	color: green;
}
.highlight h3{
	color: white;
}